[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    R1705, # unnecessary else after return
    W0718, # too-broad-exception
