body {
    background-color: #000000;
    color: #ffffff;
}

nav ul{
    background-color: #202020;
    margin: 0;
    color: #ffffff;
    flex: 1;
}

nav li{
    width: 100px;
    display: inline-block;
}

a, a:link, a:visited {
  color: #FFFAFA;
  text-decoration: none;
}
