{% extends "layout.html" %}
{% block title %}Customer{% endblock %}
{% block content %}


    <h1>Customers</h1>
    <!-- <h2>Insert a Customer</h2>
    <a href="{{ url_for('customers_bp.insert_customer') }}">Click to insert a customer</a> -->
    <h2>Delete a Customer</h2>
    <form id="deleteCustomer" action="/delete_customer" method="post">  

        <label for="customer_id">Customer ID:</label>
        <input type="text" id="customer_id" name="customer_id" required><br>

        <input type="submit" class="delete-button" value="Delete">
    </form>

         <!-- Trigger/Open The Modal -->
<button id="myBtn" class="edit-button" >Insert</button>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">Customer ID</th>
            <th scope="col">Employee ID</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Email</th>
            <th scope="col">City</th>
            <th scope="col">Country</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
          <tr>
            <th scope="row">{{customer.customer_id}}</th>
            <td>{{customer.employee_id}}</td>
            <td>{{customer.firstname}}</td>
            <td>{{customer.lastname}}</td>   
            <td>{{customer.dob}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.city}}</td>
            <td>{{customer.country}}</td>
            <td><a class="edit-button" href="?customer_id={{customer.customer_id}}">Edit</a></td>
            <td><a class="delete-button" href="?customer_id={{customer.customer_id}}">Delete</a></td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>

      <div class="pagination">
        {% if page > 1 %}
            <a class="previous-button" href="?page={{ page - 1 }}" >&laquo; Previous</a>
        {% endif %}

        <span>Page {{ page }}</span>

        {% if customers|length == 10 %}
            <a class="next-button" href="?page={{ page + 1 }}" >Next &raquo;</a>
        {% endif %}
    </div>



       <!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        
       <span class="close">&times;</span>
       
       <div class="insert-container">
        
            
           <!-- Insert data form -->
           <form id="raiseForm" action="/insert_customer" method="post">  
            <div class="row">
            <div class="col-md-6">
            <label for="customer_id">Customer ID:</label>
            <input type="text" id="customer_id" name="customer_id" required><br>
    
            <label for="employee_id">Employee ID:</label>
            <input type="text" id="employee_id" name="employee_id" required><br>
    
            <label for="firstname">Firstname:</label>
            <input type="text" id="firstname" name="firstname" required><br>
    
            <label for="lastname">Lastname:</label>
            <input type="text" id="lastname" name="lastname" required><br>
    
            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" required><br>
            
        </div>
        <div class="col-md-6">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>
    
            <label for="city">City:</label>
            <input type="text" id="city" name="city" required><br>
    
            <label for="country">Country:</label>
            <input type="text" id="country" name="country" required><br>
    
    
            <input type="submit" value="Submit">
        </div>
        </form>
   
   
       
       </div>
    </div>
   
   </div>
   
   <script>
   // Get the modal
   var modal = document.getElementById("myModal");
   
   // Get the button that opens the modal
   var btn = document.getElementById("myBtn");
   
   // Get the <span> element that closes the modal
   var span = document.getElementsByClassName("close")[0];
   
   // When the user clicks the button, open the modal 
   btn.onclick = function() {
    modal.style.display = "flex";
   }
   
   // When the user clicks on <span> (x), close the modal
   span.onclick = function() {
    modal.style.display = "none";
   }
   
   // When the user clicks anywhere outside of the modal, close it
   window.onclick = function(event) {
    if (event.target == modal) {
       modal.style.display = "none";
    }
   }
   </script>

{% endblock %}
