{% extends "layout.html" %}
{% block title %}Employee{% endblock %}
{% block content %}

    <h1>Employees</h1>
    <h2>Insert a Employee</h2>
    <a href="{{ url_for('employees_bp.insert_employee') }}">Click to insert a employee</a>
    <h2>Delete a Employees</h2>
    <form id="deleteEmployee" action="/delete_employee" method="post">  

        <label for="employee_id">Employee ID:</label>
        <input type="text" id="employee_id" name="employee_id" required><br>

        <input type="submit" value="Delete">
    </form>
    <ul>
        
        {% for employee in employees %}
        <li>{{employee}}</li>
        {% endfor %}
    </ul>

    <div class="button-container">
        {% if page > 1 %}
            <a class="previous-button" href="?page={{ page - 1 }}">Previous</a>
        {% endif %}

        <span>Page {{ page }}</span>

        {% if employees|length == 10 %}
            <a class="next-button" href="?page={{ page + 1 }}">Next</a>
        {% endif %}

    </div>

{% endblock %}
