<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Information Form</title>
</head>
<body>
    <h2>Employee Information Form</h2>
    <form id="raiseForm" action="/insert_employee" method="post">  
        <label for="employee_id">Employee ID:</label>
        <input type="text" id="employee_id" name="employee_id" required><br>

        <label for="store_id">Store ID:</label>
        <input type="text" id="store_id" name="store_id" required><br>

        <label for="firstname">Firstname:</label>
        <input type="text" id="firstname" name="firstname" required><br>

        <label for="lastname">Lastname:</label>
        <input type="text" id="lastname" name="lastname" required><br>

        <label for="dof">Date of Birth:</label>
        <input type="date" id="dof" name="dof" required><br>

        <label for="phone">Phone Number:</label>
        <input type="text" id="phone" name="phone" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        
        <label for="status">Status:</label>
        <select id="status" name="status" required>
            <option value="Active">Active</option>
            <option value="Off">Off</option>
        </select><br>
        
        
        <label for="salary">Salary:</label>
        <input type="text" id="salary" name="salary" required><br>

        <label for="street">Street:</label>
        <input type="text" id="street" name="street" required><br>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" required><br>

        <label for="country">Country:</label>
        <input type="text" id="country" name="country" required><br>


        <input type="submit" value="Submit">
    </form>
</body>
</html>
