<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title{% block title %}{% endblock %}</title>  
  
  <link rel="stylesheet"
          href="{{ url_for('static', filename='layout.css') }}"/>   
  </head>
  <body>
  
     <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('hello_world') }}">Home</a></li>    
          <li><a href="{{ url_for('products') }}">Products</a></li>    
          <li><a href="{{ url_for('orders') }}">Orders</a></li>    
          <li><a href="{{ url_for('rises') }}">Rises</a></li>   
          <li><a href="{{ url_for('insert_rise') }}">Insert New Rise</a></li>   
          <li><a href="{{ url_for('customers') }}">Customers</a></li>   
          <li><a href="{{ url_for('insert_customer') }}">Insert New Customer</a></li>   
        </ul>
      </nav>
    </header> 
  
    {% block content %}{% endblock %}   

    <footer>
      <small>&copy; 2023, itudb2313</small>
    </footer>

  </body>
</html>
