{% extends "layout.html" %}
{% block title %}Orders{% endblock %}
{% block content %}
    <script src="https://unpkg.com/htmx.org@1.9.8"
            integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
            crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <h1 class="text-6xl mx-20 my-6 font-bold">Orders</h1>
    <form id="update" hx-post="/update-order">
    </form>
    <table class="table-auto border text-center">
        <thead />
        <tbody id="replace">
            <tr>
                <td colspan="10"
                    class="text-center"
                    hx-get="/get-orders?page=0"
                    hx-trigger="load"
                    hx-target="#replace"
                    hx-swap="innerHTML" />
            </tr>
        </tbody>
        <tr>
            <form hx-post="/add-order" id="add">
                <td class="border">
                    <button class="button">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             xmlns:v="https://vecta.io/nano">
                            <path d="M12 5v14" />
                            <path d="M5 12h14" />
                        </svg>
                    </button>
                </td>
                <td></td>
                <td>
                    <input type="text" name="customer_id" id="replace_customer_add">
                </td>
                <td>
                    <input type="text" name="product_id" id="replace_product_add">
                </td>
                <td>
                    <input type="text"
                           name="store_id"
                           id="replace_store_add"
                           hx-get="/employee-selection"
                           hx-trigger="keyup, change">
                </td>
                <td>
                    <select id="replace_employee_add" disabled></select>
                </td>
                <td>
                    <input type="date" name="order_date" id="order_date">
                </td>
                <td>
                    <input type="date" name="ship_date" id="ship_date">
                </td>
                <td>
                    <input type="date" name="required_date" id="required_date">
                </td>
                <td>
                    <input type="text" name="order_status" id="order_status">
                </td>
                <td>
                    <input type="text" name="quantity" id="quantity">
                </td>
                <td />
            </form>
        </tr>
    </table>
    <div class="mx-16 mt-16 flex flex-wrap gap-8">
        <div class="w-2/5 border">
            <canvas id="monthly"></canvas>
        </div>
        <div class="w-2/5 border">
            <canvas id="daily"></canvas>
        </div>
        <div class="w-2/5 border text-center">
            <p class="text-2xl font-bold">All Time Best Sellers</p>
            <p class="text-2xl" id="best_selling"></p>
        </div>
        <div class="w-2/5 border text-center">
            <p class="text-2xl font-bold">All Time Best Grossing</p>
            <p class="text-2xl" id="best_grossing"></p>
        </div>
        <div class="w-2/5 border text-center">
            <p class="text-3xl font-bold">Gross Split by Store</p>
            <canvas id="stores"></canvas>
        </div>
        <div class="w-2/5 border text-center items-middle">
            <p class="text-3xl font-bold">Total sales</p>
            <p class="text-2xl" id="total-orders"></p>
            <p class="text-2xl" id="total-gross"></p>
        </div>
    </div>
    <script type="module">
        htmx.config.useTemplateFragments = true;
        //htmx.logAll();
        const ctx1 = document.getElementById('monthly');
        const ctx2 = document.getElementById('daily');
    
        await new Promise(resolve => setTimeout(resolve, 1000)); // without this database creates multiple cursor and then dies quietly
        let res = await fetch("/special")
        res = await res.json()

        let labels = [];
        let data = [];
        let i = 0
        res[0].forEach((e) => {
            labels.push(i + "-" + e[1])
            data.push(e[0])

            if (e[1] == 12)
                i+=1
        })

        new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Monthly Orders',
                    data: data,
                    borderWidth: 1
                    }]
                },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        data=[]
        res[1].forEach((e) => {
            data.push(e[0])
        })

        new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                datasets: [{
                    label: 'Day of Orders',
                    data: data,
                    borderWidth: 1
                    }]
                },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        res[2].forEach((e) => {
            document.getElementById('best_selling').innerHTML += e[0] + " " + e[1] + " - " + e[2] + " units <br>"
        })

        res[3].forEach((e) => {
            document.getElementById('best_grossing').innerHTML += e[0] + " " + e[1] + " - " + e[2] + "$<br>"
        })

        res[4].forEach((e) => {
            document.getElementById('stores').innerHTML += e[0] + " - " + e[1] + "$<br>"
        })

        new Chart(document.getElementById('stores'), {
            type: 'pie',
            data: {
                labels: res[4].map((e) => e[0]),
                datasets: [{
                    label: 'Gross Split by Store',
                    data: res[4].map((e) => e[1]),
                    borderWidth: 1
                    }]
                },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });

        document.getElementById('total-orders').innerHTML = "Total orders: " + res[6][0][0]
        document.getElementById('total-gross').innerHTML = "Total gross: " + res[5][0][0] + "$"
    </script>
    <style>
        input, select {
            background-color: black;
            width: 7rem;
            margin: 0.5rem;
            padding: 0 0.5rem;
            outline: thin solid;
            outline-color: white; 
            border-radius: 0.25rem;
        }

        td {
            border: 1px solid white;
            height: 5rem;
        }

        table {
            margin: 0 0 0 5rem;
        }

        #pager {
            height: 0;
        }
    </style>
{% endblock %}
