{% extends "layout.html" %}
{% block title %}Products{% endblock %}
{% block content %}
<script>
    function delete_product(button) {
        fetch('/delete_product', {
            method: 'POST',
            body: JSON.stringify({
                product_id: button.id
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(function(response) {
            if (response.status != 200) {
                console.log('Error');
                return false;
            } else{
                window.location.reload();
                return true;
            }
        });
    }
</script>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
    th {
        background-color: #632626;
    }
</style>
<h1>Products</h1>
<!-- Write a search bar for me -->
<form action="{{ url_for('products_bp.get_products') }}" method="POST">
    <input type="text" name="search" placeholder="Search for a product">
    <input type="number" name="min_price" placeholder="Min price">
    <input type="number" name="max_price" placeholder="Max price">
    <select name="category_id">
        <option value="">All categories</option>
        {% for category in categories %}
        <option value="{{category[0]}}">{{category[2]}}</option>
        {% endfor %}
    <input type="submit" value="Search">
</form>
<a href="{{ url_for('products_bp.insert_product') }}">Click to insert a product</a>
<table>
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Description</th>
        <th>Year</th>
        <th>Color</th>
        <th>Km</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{product[0]}}</td>
        <td>{{product[1]}}</td>
        <td>{{product[2]}}</td>
        <td>{{product[3]}}</td>
        <td>{{product[4]}}</td>
        <td>{{product[5]}}</td>
        <td>{{product[6]}}</td>
        <td>{{product[7]}}</td>
        <td><button onclick="delete_product(this)" id="{{product[0]}}">X</button></td>
    </tr>
    {% endfor %}
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Description</th>
        <th>Year</th>
        <th>Color</th>
        <th>Action</th>
        <th>Km</th>
        <th>Price</th>
    </tr>
</table>
{% endblock %}

