{% extends "layout.html" %}
{% block title %}Rise{% endblock %}
{% block content %}

    <h1>Rises</h1>
    <h2>Insert a Rise</h2>
    <a href="{{ url_for('rises_bp.insert_rise') }}">Click to insert</a>
    
    <h2>Delete a Rise Record</h2>
    <form id="deleteRise" action="/delete_rise" method="post">  

        <label for="rise_id">Rise ID:</label>
        <input type="text" id="rise_id" name="rise_id" required><br>

        <input type="submit" value="Delete">
    </form>
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Rise ID</th>
            <th scope="col">Amount (%)</th>
            <th scope="col">Date</th>
            <th scope="col">State</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for rise in rises %}
          <tr>
            <th scope="row">{{rise.rise_id}}</th>
            <td>{{rise.amount_by_percent}}</td>
            <td>{{rise.rise_date}}</td>
            <td>{{rise.rise_state}}</td>
            <td><a class="edit-button" href="?rise_id={{rise.rise_id}}">Edit</a></td>
            <td><a class="delete-button" href="?rise_id={{rise.rise_id}}">Delete</a></td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>

      <div class="pagination">
        {% if page > 1 %}
            <a class="previous-button" href="?page={{ page - 1 }}" >&laquo; Previous</a>
        {% endif %}

        <span>Page {{ page }}</span>

        {% if rises|length == 10 %}
            <a class="next-button" href="?page={{ page + 1 }}" >Next &raquo;</a>
        {% endif %}
    </div>

{% endblock %}
