{% extends "layout.html" %}
{% block title %}Rise{% endblock %}
{% block content %}

    <h1>Rises</h1>
    
    <h4>Delete a rise by ID</h4>
    <form id="deleteRise" action="/delete_rise" method="post">  

        <label for="rise_id">Rise ID:</label>
        <input type="text" id="rise_id" name="rise_id" required><br>

        <input type="submit" class="delete-button" value="Delete">
    </form>

          <!-- Trigger/Open The Modal -->
<button id="myBtn" class="edit-button">Insert</button>
<button id="topBtn" class="edit-button">Top 5 Rises Confirmed</button>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for any column">
<input type="number" id="minAmountFilter" placeholder="Min Amount (%)">
<input type="number" id="maxAmountFilter" placeholder="Max Amount (%)">
<input type="date" id="dateStart" placeholder="Start Date">
<input type="date" id="dateEnd" placeholder="End Date">

<div style="float: right;" class="pagination">
  {% if page > 1 %}
      <a class="previous-button" href="?page={{ page - 1 }}" >&laquo; Previous</a>
  {% endif %}

  <span>Page {{ page }}</span>

  {% if rises|length == 10 %}
      <a class="next-button" href="?page={{ page + 1 }}" >Next &raquo;</a>
  {% endif %}
</div>

    
    <table id="riseTable" class="table">
        <thead>
          <tr>
            <th scope="col">Rise ID</th>
            <th scope="col">Amount (%)</th>
            <th scope="col">Date</th>
            <th scope="col">State</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for rise in rises %}
          <tr>
            <td style="font-weight: bold;" scope="row">{{rise.rise_id}}</th>
            <td>{{rise.amount_by_percent}}</td>
            <td>{{rise.rise_date}}</td>
            <td>{{rise.rise_state}}</td>
            <td><a class="edit-button" value="{{rise.rise_id}}" >Update</a></td>
            <td><a class="delete-button" href="/delete_rise?rise_id={{rise.rise_id}}">Delete</a></td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>

      



<!-- The Modal -->
<div id="myModal" class="modal">

 <!-- Modal content -->
 <div class="modal-content">
    <span class="close x">&times;</span>
    <div class="insert-container">
        <!-- Insert data form -->
        <form class="raiseForm" action="/insert_rise" method="post">
          <label for="rise_id">Raise ID:</label>
          <input type="text" id="rise_id" name="rise_id" required><br>
  
          <label for="amount_by_percent">Amount by Percent:</label>
          <input type="text" id="amount_by_percent" name="amount_by_percent" required><br>
  
          <label for="rise_date">Raise Date:</label>
          <input type="date" id="rise_date" name="rise_date" required><br>
  
          <label for="rise_state">Raise State:</label>
          <select id="rise_state" name="rise_state" required>
              <option value="Suspended">Suspended</option>
              <option value="Confirmed">Confirmed</option>
          </select><br>
  
          <input type="submit" value="Submit">
      </form>


    </div>
 </div>

</div>


<!-- The Modal -->
<div id="secondModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
     <span class="close close-second">&times;</span>
     <div class="insert-container">
         <!-- Insert data form -->
         <form class="raiseForm" action="/update_rise" method="post">
           <label for="rise_idUpdate">Raise ID:</label>
           <input type="text" id="rise_idUpdate" name="rise_id" readonly><br>
   
           <label for="amount_by_percentUpdate">Amount by Percent:</label>
           <input type="text" id="amount_by_percentUpdate" name="amount_by_percent" required><br>
   
           <label for="rise_dateUpdate">Raise Date:</label>
           <input type="date" id="rise_dateUpdate" name="rise_date" required><br>
   
           <label for="rise_stateUpdate">Raise State:</label>
           <select id="rise_stateUpdate" name="rise_state" required>
               <option value="Suspended">Suspended</option>
               <option value="Confirmed">Confirmed</option>
           </select><br>
   
           <input type="submit" value="Submit">
       </form>
 
 
     </div>
  </div>
 
 </div>

 <!-- The Modal -->
<div id="topModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">

    <span class="close close-top">&times;</span>

    <div class="insert-container">

      <table id="topTable" class="table">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Rise ID</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">State</th>
          </tr>
        </thead>
        <tbody>
          {% for rise in topRises %}
          <tr>
            <td style="font-weight: bold;" scope="row">{{loop.index}}</th>
            <td>{{rise.rise_id}}</td>
            <td>{{rise.amount_by_percent}}</td>
            <td>{{rise.rise_date}}</td>
            <td>{{rise.rise_state}}</td>
          </tr>
          {% endfor %}
      
        </tbody>
      </table>
      
    </div>
  </div>
</div>


<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
 modal.style.display = "flex";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
 modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it

window.onclick = function(event) {
 if (event.target == modal) {
    modal.style.display = "none";
 }
}
</script>




<script>

function convertDateFormat(originalDateString) {
    // Parse the original date string
    const originalDate = new Date(originalDateString);

    // Format the date as "yyyy-MM-dd"
    const formattedDate = originalDate.toISOString().split('T')[0];

    return formattedDate;
}

// UPDATE MODAL
  var table = document.getElementById('riseTable');
    var second_modal = document.getElementById('secondModal');
    var closeButton = document.querySelector('.close-second');
    

  table.addEventListener('click', async function(event) {
      
        // Check if the clicked element is a button with the class 'editButton'
        if (event.target.classList.contains('edit-button')) {
          //event.stopPropagation();
          event.preventDefault()
            // Get the value (row number) of the clicked button
            const rise_id = event.target.getAttribute('value');

            second_modal.style.display = "flex";
            
            const url = `http://localhost:5000/get_rise_by_id?rise_id=${rise_id}`;

            try {
            const response = await fetch(url);

            // Check if the request was successful (status code 200)
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            // Parse the response as JSON
            const data = await response.json();
            
            document.getElementById('rise_idUpdate').defaultValue = data.rise[0].rise_id;
            //document.getElementById('rise_idUpdate').disabled = true
            document.getElementById('amount_by_percentUpdate').defaultValue = data.rise[0].amount_by_percent;
            document.getElementById('rise_dateUpdate').defaultValue = convertDateFormat(data.rise[0].rise_date);
            document.getElementById('rise_stateUpdate').value = data.rise[0].rise_state;
            
            
            } catch (error) {
                // Handle errors during the fetch
                console.error('Error during fetch:', error);
            }

            console.log(url)
        }
    });

    closeButton.addEventListener('click', function() {
        // Close the modal when the X button is clicked
        second_modal.style.display = 'none';
    });

    // Close the modal if the user clicks outside of it
    window.addEventListener('click', function(event) {
        if (event.target === second_modal) {
            second_modal.style.display = 'none';
        }
    });
</script>



<script>
  function myFunction() {
 var input, filter, table, tr, td, i, j, txtValue;
 input = document.getElementById("myInput");
 filter = input.value.toUpperCase();
 table = document.getElementById("riseTable");
 tr = table.getElementsByTagName("tr");
 for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td");
    for (j = 0; j < td.length; j++) {
      if (td[j]) {
        txtValue = td[j].textContent || td[j].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
          break;
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
 }
}
  </script>



<script>
  document.addEventListener("DOMContentLoaded", function() {
      // Get input elements
      var minAmountInput = document.getElementById("minAmountFilter");
      var maxAmountInput = document.getElementById("maxAmountFilter");
      var startDateInput = document.getElementById("dateStart");
      var endDateInput = document.getElementById("dateEnd");
      

      // Get table rows
      var tableRows = document.querySelectorAll("#riseTable tbody tr");

      // Add event listeners to input elements
      minAmountInput.addEventListener("input", filterTable);
      maxAmountInput.addEventListener("input", filterTable);
      startDateInput.addEventListener("input", filterTable);
      endDateInput.addEventListener("input", filterTable);
      

      function filterTable() {
          var minAmountFilter = parseFloat(minAmountInput.value) || 0;
          var maxAmountFilter = parseFloat(maxAmountInput.value) || Number.MAX_VALUE;
          var startDateFilter = startDateInput.value ? new Date(startDateInput.value) : -Infinity;
          var endDateFilter = endDateInput.value ? new Date(endDateInput.value) : +Infinity;
          

          tableRows.forEach(function(row) {
              var rowCells = row.querySelectorAll("td");
              var rowAmount = parseFloat(rowCells[1].textContent); // the first cell contains rise_amount
              var rowDate = new Date(rowCells[2].textContent); // the second cell contains rise_date

              var amountMatch = rowAmount >= minAmountFilter && rowAmount <= maxAmountFilter;
              var dateMatch = true;
              if (startDateFilter !== -Infinity && endDateFilter !== Infinity) {
                        dateMatch = rowDate >= startDateFilter && rowDate <= endDateFilter;
                    } else if (startDateFilter !== -Infinity) {
                        dateMatch = rowDate >= startDateFilter;
                    } else if (endDateFilter !== Infinity) {
                        dateMatch = rowDate <= endDateFilter;
                    }

              if (amountMatch && (dateMatch)) {
                  row.style.display = "";
              } else {
                  row.style.display = "none";
              }
          });
      }
  });
</script>

<script>
  // Get the modal
  var modal = document.getElementById("topModal");

  // Get the button that opens the modal
  var btn = document.getElementById("topBtn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close-top")[0];

  // When the user clicks the button, open the modal 
  btn.onclick = async function () {
    modal.style.display = "flex";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>

{% endblock %}
